{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "appInfo": "readonly",
    "CodeMirror": "readonly",
    "DeepDiff": "readonly",
    "lucide": "readonly",
    "luxon": "readonly",
    "math": "readonly",
    "Mousetrap": "readonly",
    "UIkit": "readonly"
  },
  "ignorePatterns": ["d3.js", "plot.js"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-new-func": "off"
  }
}
