{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "ignorePatterns": ["build", "dist"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
