/* Overrides */
@import url('./uikit.css');
@import url('./codemirror.css');
@import url('./coloris.css');
/* Print styles */
@import url('./print.css');

/* Base */

* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  backface-visibility: hidden;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  resize: none;
  user-select: none;
}

html,
body {
  background-color: light-dark(#ffffff, #1f1f1f);
  height: 100%;
  color: light-dark(#444444, #ffffff);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: light-dark(#eaeaea, #333333);
}

::-webkit-scrollbar-thumb:hover {
  background-color: light-dark(#dadada, #444444);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: transparent;
}

h2 {
  margin: 0 0 15px 0;
}

input {
  font-size: inherit;
  font-family: inherit;
}

input[type='range']::-webkit-slider-runnable-track {
  margin-top: 2px;
  border: none;
  border-radius: 3px;
  background-color: #999999;
  width: 300px;
  height: 1px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -7px;
  border: none;
  border-radius: 50%;
  background-color: #1e87f0;
  width: 14px;
  height: 14px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background-color: #999999;
}

pre {
  font: inherit !important;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  tab-size: 2;
}

text {
  fill: light-dark(#444444, #e6e6e6);
  font-size: 0.9rem;
}

.textBox {
  box-sizing: border-box;
  border: 1px solid light-dark(#cccccc, #666666);
  padding: 5px;
  width: 100%;
  color: light-dark(#666666, #eaeaea);
}

.textBox::placeholder {
  color: rgba(148, 156, 160, 0.6);
}

/* App container */

.appWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Headers */

.winHeader {
  -webkit-app-region: drag !important;
  display: none;
  position: fixed;
  top: 5px;
  right: 0;
  left: 0;
  height: 30px;
}

.winHeaderTitle {
  float: left;
  margin: 5px 0 0 15px;
  font-weight: 700;
  font-size: 1.1em;
  font-family: 'Numara';
}

.macHeader {
  -webkit-app-region: drag !important;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
}

.macHeaderTitle {
  padding-top: 10px;
  font-size: 1.1em;
  font-family: 'Numara';
  text-align: center;
}

.winHeaderTitle,
.macHeaderTitle {
  color: light-dark(#384859, #e6e6e6);
}

/* Main panel */

.mainPanel {
  display: flex;
  position: fixed;
  top: 50px;
  right: 8px;
  bottom: 42px;
  left: 20px;
  align-content: flex-start;
}

.input {
  width: 60%;
  min-width: 120px;
  color: light-dark(#444444, #e6e6e6);
}

.inputArea {
  -webkit-user-select: text;
  user-select: text;
}

.inputArea::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

.lineNo {
  color: light-dark(#c8c8c8, #616161);
}

.activeLine > div {
  color: light-dark(#7a7a7a, #bebebe);
}

.divider {
  flex: 0 0 auto;
  cursor: ew-resize;
  margin: 0 8px;
  width: 5px;
  height: calc(100% - 8px);
}

.divider::before {
  display: block;
  margin: 0 auto;
  background-color: light-dark(#eaeaea, #3b3b3b) !important;
  width: 1px;
  height: 100%;
  content: '';
}

.divider:hover::before {
  background-color: light-dark(#b7d5e6, #405062) !important;
}

.output {
  flex: 1;
  padding: 0;
  min-width: 120px;
  font-weight: 400;
  white-space: nowrap;
}

.inputArea,
.output {
  display: block;
  height: 100%;
  overflow: scroll;
}

.output > div {
  -webkit-user-select: text;
  display: block;
  width: 100%;
  height: 27px;
  user-select: text;
}

.panelFont {
  font-family: 'Roboto Mono', monospace;
}

.answer {
  -webkit-user-select: text;
  cursor: default;
  margin: 0 8px 0 0;
  border-radius: 5px;
  padding: 2px 5px;
  height: 27px;
  user-select: text;
}

.answer:hover {
  background: light-dark(#f5f5f5, #0a0a0a);
}

.plotButton {
  cursor: pointer;
}

.plotButton > svg {
  width: 1em;
  pointer-events: none;
}

.lineError {
  margin: 0 12px 0 5px;
}

.lineError:hover {
  text-decoration: underline;
}

.errTitle {
  color: light-dark(#b10e0e, #d41111);
  font-weight: 600;
  font-size: 1rem;
}

.errMsg {
  word-break: break-word;
}

.ruler {
  border-bottom: 1px solid light-dark(#f1f1f1, #303030);
}

.noRuler {
  border-bottom: 1px solid transparent;
}

.gutterBlock {
  position: fixed;
  bottom: 50px;
  left: 0;
  z-index: 5;
  height: 8px;
}

/* Actions */

.actions {
  position: fixed;
  right: 10px;
  bottom: 10px;
  left: 10px;
  height: 25px;
}

.action,
.noAction,
.noAction:hover {
  color: light-dark(#607d8b, #7b9dc5);
}

.action,
.noAction {
  cursor: pointer;
}

.noAction,
.action[disabled='true'] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.actionDivider {
  margin: 0 5px;
  margin-top: 2px;
  border-right: 1px solid light-dark(#eaeaea, #3b3b3b);
  height: 20px;
}

.leftActions a,
.centerActions a,
.rightActions a {
  margin: 0 5px;
}

.leftActions a:hover,
.sidePanelActions a:hover {
  text-decoration: none;
}

.newPageButton svg,
.newPageButtonSP svg {
  width: 16px !important;
  height: 16px !important;
}

.pageName {
  position: relative;
  top: 2px;
  opacity: 0.9;
  width: calc(100vw - 300px);
  overflow: hidden;
  color: light-dark(#687e89, #627d9c);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.leftActions a svg,
.centerActions a svg,
.rightActions a svg,
.sidePanelActions a svg {
  width: 14px;
  height: 14px;
  pointer-events: none;
  color: inherit !important;
}

.notificationDot {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 18px;
}

.notificationDot > svg {
  fill: #1e87f0;
  stroke: #1e87f0;
  width: 5px;
  height: 5px;
}

.sidePanelActions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 10px 10px 14px 10px;
}

.closeSidePanelButton {
  -webkit-app-region: no-drag !important;
}

.closeSidePanelButton svg {
  width: 18px;
  height: 18px;
}

:not(pre) > code {
  background: light-dark(#ffffff, #222222);
}

/* Side panel page list */

.pageListHeader {
  height: 40px;
}

.pageListHeader,
.pageListItem {
  border-bottom: 1px solid light-dark(#eaeaea, #181818);
  background-color: light-dark(#ffffff, #222222);
  color: light-dark(#444444, #e6e6e6);
}

.pageListItemDrag {
  border: 1px solid light-dark(#eaeaea, #181818);
  background-color: light-dark(#ffffff, #222222);
}

.pageListItem:hover,
.activePage {
  background-color: light-dark(#f4f6f8, #333333);
}

.pageList {
  overflow-x: hidden;
  overflow-y: auto;
}

.pageListFooter {
  height: 47px;
}

.pageListSort {
  -webkit-app-region: no-drag;
  cursor: pointer;
  margin: 10px;
  color: light-dark(#607d8b, #7b9dc5);
}

.pageListSort svg {
  width: 14px;
  height: 14px;
}

.sortListItem {
  -webkit-app-region: no-drag;
}

.sortListDivider {
  margin: 5px 10px;
  border-top-color: light-dark(#eaeaea, #444444) !important;
}

.pageListItem {
  display: flex;
  position: relative;
  cursor: pointer;
}

.pageListItem > div:first-child {
  padding: 3px 0 3px 10px;
}

.pageListItemTitle {
  padding: 5px 5px 2px 5px;
  width: 180px;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.drop-parent-icon {
  color: light-dark(#607d8b, #7b9dc5);
}

.drop-parent-icon:hover,
.pageListSort:hover {
  color: light-dark(#4682b4, #0f6ecd);
}

.drop-parent-icon svg {
  width: 16px;
  height: 16px;
}

.renamePageButton,
.dupPageButton,
.deletePageButton,
.exportPageButton,
.sortListItem {
  cursor: pointer;
  padding: 5px 10px;
  color: light-dark(#444444, #e6e6e6);
}

.renamePageButton:hover,
.dupPageButton:hover,
.exportPageButton:hover,
.sortListItem:hover {
  color: light-dark(#005cc5, #2196f3);
}

.deletePageButton:hover {
  color: light-dark(#b10e0e, #d41111);
}

.deleteAllPagesButton:hover {
  color: light-dark(#b10e0e, #d41111) !important;
}

.exportPageButton {
  padding: 5px 10px;
}

/* Dialogs */

.dialogs {
  display: none;
}

.dialog-buttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.dialog-open-date {
  padding: 0 5px 5px 5px;
  color: #999999;
  font-size: 0.9rem;
}

.dialogConfirm {
  z-index: 10010;
}

/* Settings dialog */

.dialog-settings-body {
  margin-right: -8px;
  padding-right: 10px;
  height: calc(100vh - 200px);
  max-height: 600px;
  overflow: scroll;
}

#dialogSettings .uk-overflow-auto {
  padding-right: 10px;
}

#dialogSettings h3 {
  margin: 25px 0 12px 0;
  color: light-dark(#1d3f5c, #a0d3ff);
  font-weight: 500;
  font-size: 1rem;
}

#dialogSettings h3:first-of-type {
  margin: 0px 0 12px 0;
}

#dialogSettings .settingMod,
#dialogSettings .settingModToggle {
  display: none;
  position: absolute;
  cursor: pointer;
  margin-top: -3px;
  margin-left: -20px;
  color: light-dark(#dd9359, #dd9359);
}

#dialogSettings .settingMod > svg,
#dialogSettings .settingModToggle > svg {
  width: 24px;
}

#dialogSettings input:disabled + span.slider.round {
  cursor: default;
}

#dialogSettings .range .settingMod {
  margin-left: -54px;
}

.precision,
.expLower,
.expUpper {
  border: 1px solid light-dark(#e5e5e5, #333333);
  background-color: transparent;
  padding: 1px 0 0 0;
  width: 25px;
  color: light-dark(#333333, #e6e6e6);
  text-align: center;
}

.warn-icon {
  display: none;
  margin-left: 5px;
}

.warn-icon svg {
  stroke: #faa05a;
  margin-top: -3px;
  width: 14px;
  height: 14px;
  pointer-events: none;
}

.lastUpdated {
  display: block;
  margin-right: 3px;
  color: light-dark(#999999, #999999);
  font-size: 0.9rem;
}

#updateRatesLink[data-enabled='false'] {
  opacity: 0.5;
  pointer-events: none;
}

.customizeThemeButton > svg,
.updateRatesLink > svg {
  width: 20px;
  height: 20px;
}

.defSettingsButton {
  margin-right: 10px;
}

.resetSizeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  color: light-dark(#666666, #999999);
}

.resetSizeButton > svg {
  width: 14px;
  height: 14px;
  pointer-events: none;
}

/* Color picker dialog */

.colorPickerContainer {
  margin-right: -8px;
  padding-right: 10px;
  height: calc(100vh - 200px);
  max-height: 420px;
  overflow: scroll;
}

.colorPickerContainer .uk-first-column {
  margin-top: 2px;
}

.colorInput {
  cursor: pointer;
  box-sizing: border-box;
  padding: 2px 5px;
  width: 80px;
  height: 20px;
  color: light-dark(#333333, #e6e6e6);
}

.colorInputDefault {
  border-left: 1px solid light-dark(#eaeaea, #666666);
}

.colorInputChanged {
  border-left: 2px solid light-dark(#dd9359, #dd9359);
}

.colorHR {
  border-bottom: 1px solid light-dark(#eaeaea, #666666);
}

/* About dialog */

.dialogAbout {
  text-align: center;
}

.dialog-about-header {
  display: inline-block;
  margin: 0 auto;
  font-weight: 600;
}

.dialog-about-header img {
  width: 128px;
}

.dialog-about-title {
  vertical-align: middle;
  margin-left: 5px;
  color: light-dark(#162e44, #e6e6e6);
}

.dialogAbout p {
  clear: both;
  margin-top: 5px;
}

.dialog-about-links {
  display: flex;
  flex: auto;
  border-top: 1px solid light-dark(#eaeaea, #333333);
}

.dialog-about-links > div {
  width: 100%;
  line-height: 30px;
}

div:has(> #logsLink) {
  display: none;
}

.dialogAboutAppVersion {
  display: block;
  margin-bottom: 8px;
  text-align: center;
}

.versionCtnr > div {
  margin: 8px 3px 3px 3px;
  text-align: center;
}

.dialogAboutUpdateStatus {
  display: block;
  color: light-dark(#666666, #999999);
  text-align: center;
}

.notificationLink {
  margin-left: 8px;
  color: #56b6c2;
}

.updateButton {
  display: none;
  margin-top: 10px;
  text-transform: capitalize;
}

.dialogAboutCopyright {
  display: block;
  margin: 15px 0;
}

/* Messages */

.msg {
  opacity: 0;
  transition:
    visibility 0.3s linear,
    opacity 0.3s linear;
}

.msgBox {
  color: light-dark(#006699, #58a1c5);
}

.pr-lh {
  line-height: 22px;
}

.padTop1 {
  padding-top: 1px;
}

/* Plotting */

.function-plot {
  height: calc(100vh - 180px) !important;
  max-height: 800px;
}

.top-right-legend {
  fill: light-dark(#4682b4, #58a1c5);
}

.domain {
  opacity: 1;
  stroke: light-dark(#eaeaea, #444444);
}

.origin {
  stroke: light-dark(#999999, #f9f9f9);
}

.tick line {
  opacity: 1;
  stroke: light-dark(#f0f0f0, #333333);
}

.domainParent {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  width: 250px;
}

.domainParent > .div1 {
  grid-column: span 4 / span 4;
  text-align: center;
}

.domainParent > .div2 {
  grid-row-start: 4;
  grid-column: span 4 / span 4;
  grid-column-start: 1;
  text-align: center;
}

.domainParent > .div3 {
  grid-row-start: 2;
  grid-column-start: 2;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.domainParent > .div4 {
  grid-row-start: 2;
  grid-column-start: 3;
  border-bottom: 1px solid #cccccc;
  padding-left: 5px;
}

.domainParent > .div5 {
  grid-row-start: 3;
  grid-column-start: 2;
  border-right: 1px solid #cccccc;
}

.domainParent > .div6 {
  grid-row-start: 3;
  grid-column-start: 3;
}

.domainParent > .div7 {
  grid-row: span 2 / span 2;
  grid-row-start: 2;
  grid-column-start: 1;
  margin: auto 0;
  text-align: right;
}

.domainParent > .div8 {
  grid-row: span 2 / span 2;
  grid-row-start: 2;
  grid-column-start: 4;
  margin: auto 0;
}

.domainTextBox {
  margin: 10px;
  width: 50px;
}

.domainTextBox:disabled {
  opacity: 0.5;
  cursor: default;
}

.plotTitle {
  margin: 0 0 5px 0;
}

.plotSwitches {
  margin: 0;
}

/* Toggle controls */

.switch {
  display: inline-block;
  position: relative;
  margin-top: 1px;
  width: 28px;
  height: 16px;
}

.switch:disabled {
  opacity: 0.5;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchText {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0 12px 0 2px;
  line-height: 17px;
}

.subSwitchIcon {
  margin: -5px 5px 0 0;
  width: 14px;
  color: light-dark(#999999, #bbbbbb);
}

.slider {
  -webkit-transition: 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.2s;
  cursor: pointer;
  background-color: #cccccc;
}

.slider:before {
  -webkit-transition: 0.2s;
  position: absolute;
  bottom: 2px;
  left: 2px;
  transition: 0.2s;
  background-color: light-dark(#ffffff, #222222);
  width: 12px;
  height: 12px;
  content: '';
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
  background-color: light-dark(#ffffff, #222222);
}

input:checked + .slider {
  background-color: #1e87f0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  transform: translateX(12px);
}

/* Misc helpers */
.scrollTop {
  display: none;
  position: fixed;
  right: 2px;
  bottom: 32px;
  cursor: pointer;
  width: 10px;
}

.tooltipCode {
  margin: 6px 0 3px 0;
}
