/* UI defaults */
html,
body {
  background-color: #1f1f1f;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444444;
}

.header-win-title {
  color: #e6e6e6;
}

.min-btn-win:hover,
.max-btn-win:hover,
.unmax-btn-win:hover {
  background-color: #333333;
}

.min-btn-win {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgMTAiIGZpbGw9InJnYigyNTUsIDI1NSwgMjU1KSIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMSA0LjM5OVY1LjVIMFY0LjM5OWgxMXoiIC8+PC9zdmc+');
}

.max-btn-win {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgMTIiIGZpbGw9InJnYigyNTUsIDI1NSwgMjU1KSIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMSAwdjExSDBWMGgxMXpNOS44OTkgMS4xMDFIMS4xVjkuOWg4LjhWMS4xeiIgLz48L3N2Zz4=');
}

.unmax-btn-win {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgMTIiIGZpbGw9InJnYigyNTUsIDI1NSwgMjU1KSIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMSA4Ljc5OEg4Ljc5OFYxMUgwVjIuMjAyaDIuMjAyVjBIMTF2OC43OTh6bS0zLjI5OC01LjVoLTYuNnY2LjZoNi42di02LjZ6TTkuOSAxLjFIMy4yOTh2MS4xMDFoNS41djUuNWgxLjF2LTYuNnoiIC8+PC9zdmc+');
}

.close-btn-win {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgMTIiIGZpbGw9InJnYigyNTUsIDI1NSwgMjU1KSIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik02LjI3OSA1LjVMMTEgMTAuMjIxbC0uNzc5Ljc3OUw1LjUgNi4yNzkuNzc5IDExIDAgMTAuMjIxIDQuNzIxIDUuNSAwIC43NzkuNzc5IDAgNS41IDQuNzIxIDEwLjIyMSAwIDExIC43NzkgNi4yNzkgNS41eiIgLz48L3N2Zz4=');
}

/* Mac Header */
.header-mac-title {
  color: #e6e6e6;
}

.lineNo {
  color: #616161;
}

.input {
  color: #e6e6e6;
}

.lineError,
.lineError:hover,
.lineError>div,
.lineNoError>div {
  color: #bd2e2e;
}

.errTitle {
  color: #bd2e2e;
}

.msgBox {
  color: #58a1c5;
}

.divider::before {
  background-color: #333333;
}

.output {
  color: #1eb5f0;
}

.output>span::selection {
  background-color: rgba(21, 21, 21, 0.98) !important;
}

.answer:hover {
  background: rgb(10, 10, 10);
}

.action,
.noAction {
  color: #607d8b;
}

.noAction:hover {
  color: #607d8b;
}

.dialog-open-wrapper {
  background-color: #333333;
  border: 1px solid #404040;
  color: #e6e6e6;
}

.dialog-open-wrapper:hover {
  background-color: #444444;
}

.dialog-open-delete {
  color: #e6e6e6;
}

.dialog-open-delete:hover {
  color: #bd2e2e;
}

.dialog-about-title {
  color: #e6e6e6;
}

.dialog-about-links {
  border-top: 1px solid #333333;
}

.dialog-about-updateStatus {
  color: #999999;
}

/* Settings menu items */
#dialog-settings h3 {
  color: #a0d3ff;
}

.precision {
  border: 1px solid #333333;
  color: #e6e6e6;
}

.textBox {
  border: 1px solid #666666;
  color: #eaeaea;
}

.slider:before {
  background-color: #222222;
}

.lastUpdated {
  color: #999999;
}

/* Plot */
.origin {
  stroke: #f9f9f9;
}

text {
  fill: #e6e6e6
}

line {
  opacity: 0.5;
}

.domain {
  opacity: 1;
  stroke: #333333;
}

.syntaxError {
  color: #bd2e2e;
}

/* UIkit Overrides */
.uk-modal {
  background-color: rgba(0, 0, 0, .8);
}

.uk-modal-dialog {
  background-color: #1f1f1f;
}

.uk-modal-body {
  color: #e6e6e6;
}

.uk-modal-title {
  color: #b2cfdd;
}

.uk-select:not([multiple]):not([size]) {
  background-color: #1f1f1f;
  border-color: #333333;
  color: #e6e6e6;
}

.uk-select:not([multiple]):not([size]) option {
  color: #e6e6e6;
}

.uk-button-default {
  background-color: #333333;
  border-color: #333333;
}

.uk-button-default:focus,
.uk-button-default:hover {
  background-color: #333333;
  border-color: #393e44;
}

.uk-button-danger,
.uk-button-danger:focus {
  background-color: #333333;
  border-color: #333333;
  color: #bd2e2e;
}

.uk-button-danger:hover {
  background-color: #444444;
  border-color: rgba(189, 46, 46, 0.3);
  color: #bd2e2e;
}

.uk-button-danger:active {
  background-color: #444444;
}

.uk-button-danger:disabled {
  border-color: #333333;
}

.uk-button-danger:disabled:hover {
  background-color: transparent;
  border-color: #333333;
  color: #999999;
}

.uk-tab>*>a {
  color: #666666;
}

.uk-tab>*>a:hover {
  color: #777777;
}

.uk-tab>.uk-active>a {
  color: #b2cfdd;
}

.uk-tab::before {
  border-bottom: 1px solid #333333;
}

.uk-notification-message {
  background-color: #252525;
}

.uk-notification-message-primary {
  color: #2196f3;
}

/* CodeMirror Overrides */
.cm-s-numara {
  color: #e6e6e6 !important;
}

.cm-s-numara .CodeMirror-cursor {
  border-left: 1px solid #e6e6e6 !important;
}

.cm-s-numara .CodeMirror-selected {
  background: #193552 !important;
}

.cm-s-numara .CodeMirror-linenumber {
  background-color: #1f1f1f !important;
}

.cm-s-numara .CodeMirror-scrollbar-filler,
.cm-s-numara .CodeMirror-gutter-filler {
  background-color: #1f1f1f !important;
}

.cm-s-numara .CodeMirror-dialog-top {
  background-color: #1f1f1f !important;
  border-color: #666666;
  color: #e6e6e6 !important;
}

.cm-s-numara button {
  color: #e6e6e6 !important;
}

.cm-s-numara .CodeMirror-matchingbracket {
  color: #999999 !important;
}

.CodeMirror-hints {
  background-color: #333333;
  border-color: #222222;
}

.CodeMirror-hint {
  color: #e6e6e6;
}

.CodeMirror-hint:hover {
  background-color: #222222;
}

.cm-s-numara li.CodeMirror-hint-active {
  background-color: #006699;
  color: #eaeaea;
}

.cm-s-numara .cm-currency {
  color: #009688 !important;
}

.cm-s-numara .cm-unit {
  color: #4d87c9 !important;
}

.cm-s-numara .cm-scope {
  color: #be6317 !important;
}

.cm-s-numara .cm-lineNo {
  color: #e06c75 !important;
}

.cm-s-numara .cm-number {
  color: #e6e6e6 !important;
}

.cm-s-numara .cm-operator {
  color: #bbbbbb !important;
}

.cm-s-numara .cm-comment {
  color: #5a5a5a !important;
}

.cm-s-numara .cm-function {
  color: #af64db !important;
}

.cm-s-numara .cm-udf {
  color: #af64db !important;
}

.cm-s-numara .cm-text {
  color: #e6e6e6 !important;
}

.cm-s-numara .cm-variable {
  color: #96b4c4 !important;
}

.dialog-udfu .CodeMirror {
  border: 1px solid #333333 !important;
}
