/* Dark theme CSS */
html,
body {
  background-color: #1f1f1f;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444444;
}

.winHeaderTitle,
.macHeaderTitle {
  color: #e6e6e6;
}

.lineNo {
  color: #616161;
}

.activeLine > div {
  color: #bebebe;
}

.input {
  color: #e6e6e6;
}

.ruler {
  border-bottom: 1px solid #303030;
}

.errTitle {
  color: #d41111;
}

.plotButton {
  color: inherit;
}

.msgBox {
  color: #58a1c5;
}

.divider::before {
  background-color: #3b3b3b !important;
}

.divider:hover::before {
  background-color: #405062 !important;
}

.output > span::selection {
  background-color: rgba(21, 21, 21, 0.98) !important;
}

.answer:hover {
  background: rgb(10, 10, 10);
}

.action,
.noAction,
.noAction:hover {
  color: #7b9dc5;
}

.actionDivider {
  border-right: 1px solid #3b3b3b;
}

.pageName {
  color: #627d9c;
}

.pageListHeader {
  border-bottom: 1px solid #181818;
}

.pageListItem {
  border-bottom: 1px solid #181818;
  background-color: #222222;
  color: #e6e6e6;
}

.pageListItemDrag {
  border: 1px solid #181818;
  background-color: #222222;
}

.pageListItem:hover,
.activePage {
  background-color: #333333;
}

.drop-parent-icon,
.pageListSort {
  color: #7b9dc5;
}

.drop-parent-icon:hover,
.pageListSort:hover {
  color: #0f6ecd;
}

.uk-dropdown {
  background: #333333;
  color: inherit;
}

.renamePageButton,
.dupPageButton,
.deletePageButton {
  color: #e6e6e6;
}

.deletePageButton:hover {
  color: #d41111;
}

.deleteAllPagesButton:hover {
  color: #d41111 !important;
}

.renamePageButton:hover,
.dupPageButton:hover,
.sortListItem:hover {
  color: #2196f3;
}

.sortListDivider {
  border-top-color: #444 !important;
}

.dialog-about-title {
  color: #e6e6e6;
}

.dialog-about-links {
  border-top: 1px solid #333333;
}

.dialogAboutUpdateStatus {
  color: #999999;
}

/* Settings menu items */
#dialogSettings h3 {
  color: #a0d3ff;
}

#dialogSettings .settingMod,
#dialogSettings .settingModToggle {
  color: #dd9359;
}

.precision,
.expLower,
.expUpper {
  border: 1px solid #333333;
  color: #e6e6e6;
}

.subSwitchIcon {
  color: #bbb;
}

.textBox {
  border: 1px solid #666666;
  color: #eaeaea;
}

.slider:before {
  background-color: #222222;
}

.lastUpdated {
  color: #999999;
}

.resetSizeButton {
  color: #999999;
}

/* Plot */
.origin {
  stroke: #f9f9f9;
}

text {
  fill: #e6e6e6;
}

line {
  opacity: 0.5;
}

.domain {
  stroke: #333333;
  opacity: 1;
}

.syntaxError {
  color: #d41111;
}

/* UIkit Overrides */
:not(pre) > code {
  background: #222222;
}

.uk-text-secondary {
  color: #a0d3ff !important;
}

.uk-modal {
  background-color: rgba(0, 0, 0, 0.8);
}

.uk-modal-dialog {
  background-color: #1f1f1f;
}

.uk-modal-body {
  color: #e6e6e6;
}

.uk-modal-title {
  color: #b2cfdd;
}

.uk-select:not([multiple]):not([size]) {
  border-color: #333333;
  background-color: #1f1f1f;
  color: #e6e6e6;
}

.uk-select:not([multiple]):not([size]) option {
  color: #e6e6e6;
}

.uk-button-default {
  border-color: #333333;
  background-color: #333333;
}

.uk-button-default:focus,
.uk-button-default:hover {
  border-color: #393e44;
  background-color: #333333;
}

.uk-button-danger,
.uk-button-danger:focus {
  border-color: #333333;
  background-color: #333333;
  color: #f0506e;
}

.uk-button-danger:hover {
  border-color: rgba(189, 46, 46, 0.3);
  background-color: #333333;
  color: #ff7373;
}

.uk-button-danger:disabled {
  border-color: #333333;
}

.uk-button-danger:disabled:hover {
  border-color: #333333;
  background-color: transparent;
  color: #999999;
}

.uk-tab > * > a {
  color: #666666;
}

.uk-tab > * > a:hover {
  color: #777777;
}

.uk-tab > .uk-active > a {
  color: #b2cfdd;
}

.uk-notification-message {
  border: 1px solid #333333;
  background-color: #252525;
}

.uk-notification-message-primary {
  color: #2196f3;
}

.uk-tooltip {
  background-color: #000;
}

.uk-offcanvas-bar {
  border-right: 1px solid #181818;
}

.uk-offcanvas-bar a {
  color: #7b9dc5;
}

.uk-offcanvas-bar a:hover {
  color: #0f6ecd;
}

/* CodeMirror Overrides */
.cm-s-numara {
  color: #e6e6e6 !important;
}

.CodeMirror-cursor:before {
  background: #e6e6e6;
}

.cm-s-numara .CodeMirror-selected {
  background: #193552 !important;
}

.cm-s-numara .CodeMirror-linenumber {
  background-color: #1f1f1f !important;
}

.cm-s-numara .CodeMirror-hscrollbar,
.cm-s-numara .CodeMirror-scrollbar-filler,
.cm-s-numara .CodeMirror-gutter-filler {
  background-color: #1f1f1f !important;
}

.cm-s-numara .CodeMirror-dialog-top {
  border-color: #666666;
  background-color: #1f1f1f !important;
  color: #e6e6e6 !important;
}

.cm-s-numara button {
  color: #e6e6e6 !important;
}

.cm-s-numara .CodeMirror-matchingbracket {
  color: #999999 !important;
}

.CodeMirror-hints {
  border-color: #222222 !important;
  background-color: #333333 !important;
}

.CodeMirror-hint:hover {
  background-color: #222222 !important;
}

li.CodeMirror-hint-active {
  background-color: #222222 !important;
}

.CodeMirror-placeholder {
  color: #444444 !important;
}

.CodeMirror-linenumber {
  color: #666666;
}

.CodeMirror.cm-s-material-darker {
  border: 1px solid #666666;
}

/* Color picker */
.clr-field button,
.colorInput {
  border: 1px solid #666666;
}

.colorInput {
  color: #e6e6e6;
}

.clr-picker,
input.clr-color {
  background: #333;
  color: #e6e6e6;
}

.clr-preview button {
  border: 1px solid #ffffff;
}

.colorHR {
  border-bottom: 1px solid #666666;
}
