/* Dark theme CSS */

@import url('./colors.css');

html,
body {
  background-color: var(--color-gray-30);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-70);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-90);
}

.winHeaderTitle,
.macHeaderTitle {
  color: var(--color-gray-210);
}

.lineNo {
  color: var(--color-gray-100);
}

.activeLine > div {
  color: var(--color-gray-160);
}

.input {
  color: var(--color-gray-210);
}

.ruler {
  border-bottom: 1px solid var(--color-gray-60);
}

.errTitle {
  color: var(--color-red-30);
}

.plotButton {
  color: inherit;
}

.msgBox {
  color: var(--color-blue-150);
}

.divider::before {
  background-color: var(--color-gray-80) !important;
}

.divider:hover::before {
  background-color: var(--color-blue-110) !important;
}

.output > span::selection {
  background-color: rgba(21, 21, 21, 0.98) !important;
}

.answer:hover {
  background: var(--color-gray-10);
}

.action,
.noAction,
.noAction:hover {
  color: var(--color-blue-190);
}

.actionDivider {
  border-right: 1px solid var(--color-gray-80);
}

.pageName {
  color: var(--color-blue-170);
}

.pageListHeader {
  border-bottom: 1px solid var(--color-gray-20);
}

.pageListItem {
  border-bottom: 1px solid var(--color-gray-20);
  background-color: var(--color-gray-40);
  color: var(--color-gray-210);
}

.pageListItemDrag {
  border: 1px solid var(--color-gray-20);
  background-color: var(--color-gray-40);
}

.pageListItem:hover,
.activePage {
  background-color: var(--color-gray-70);
}

.drop-parent-icon,
.pageListSort {
  color: var(--color-blue-190);
}

.drop-parent-icon:hover,
.pageListSort:hover {
  color: var(--color-blue-30);
}

.uk-dropdown {
  background: var(--color-gray-40);
  color: var(--color-gray-210);
}

.deletePageButton {
  color: var(--color-gray-210);
}

.deletePageButton:hover {
  color: var(--color-red-30);
}

.deleteAllPagesButton:hover {
  color: var(--color-red-30) !important;
}

.renamePageButton:hover,
.dupPageButton:hover,
.exportPageButton:hover,
.sortListItem:hover {
  color: var(--color-blue-80);
}

.sortListDivider {
  border-top-color: var(--color-gray-90) !important;
}

.dialog-about-title {
  color: var(--color-gray-210);
}

.dialog-about-links {
  border-top: 1px solid var(--color-gray-70);
}

.dialogAboutUpdateStatus {
  color: var(--color-gray-140);
}

/* Settings menu items */
#dialogSettings h3 {
  color: var(--color-blue-210);
}

#dialogSettings .settingMod,
#dialogSettings .settingModToggle {
  color: var(--color-orange-10);
}

.precision,
.expLower,
.expUpper {
  border: 1px solid var(--color-gray-70);
  color: var(--color-gray-210);
}

.subSwitchIcon {
  color: var(--color-gray-150);
}

.textBox {
  border: 1px solid var(--color-gray-110);
  color: var(--color-gray-220);
}

.slider:before {
  background-color: var(--color-gray-40);
}

.lastUpdated {
  color: var(--color-gray-140);
}

.resetSizeButton {
  color: var(--color-gray-140);
}

/* Plot */
.origin {
  stroke: var(--color-gray-270);
}

text {
  fill: var(--color-gray-210);
}

line {
  opacity: 0.5;
}

.domain {
  opacity: 1;
  stroke: var(--color-gray-70);
}

.syntaxError {
  color: var(--color-red-30);
}

/* UIkit Overrides */
:not(pre) > code {
  background: var(--color-gray-40);
}

.uk-text-secondary {
  color: var(--color-blue-210) !important;
}

.uk-modal {
  background-color: rgba(0, 0, 0, 0.8);
}

.uk-modal-dialog {
  background-color: var(--color-gray-30);
}

.uk-modal-body {
  color: var(--color-gray-210);
}

.uk-modal-title {
  color: var(--color-blue-220);
}

.uk-select:not([multiple]):not([size]) {
  border-color: var(--color-gray-70);
  background-color: var(--color-gray-30);
  color: var(--color-gray-210);
}

.uk-select:not([multiple]):not([size]) option {
  color: var(--color-gray-210);
}

.uk-button-default {
  border-color: var(--color-gray-70);
  background-color: var(--color-gray-70);
}

.uk-button-default:focus,
.uk-button-default:hover {
  border-color: var(--color-blue-100);
  background-color: var(--color-gray-70);
}

.uk-button-danger,
.uk-button-danger:focus {
  border-color: var(--color-gray-70);
  background-color: var(--color-gray-70);
  color: var(--color-red-40);
}

.uk-button-danger:hover {
  border-color: rgba(189, 46, 46, 0.3);
  background-color: var(--color-gray-70);
  color: var(--color-red-50);
}

.uk-button-danger:disabled {
  border-color: var(--color-gray-70);
}

.uk-button-danger:disabled:hover {
  border-color: var(--color-gray-70);
  background-color: transparent;
  color: var(--color-gray-140);
}

.uk-tab > * > a {
  color: var(--color-gray-110);
}

.uk-tab > * > a:hover {
  color: var(--color-gray-120);
}

.uk-tab > .uk-active > a {
  color: var(--color-blue-220);
}

.uk-notification-message {
  border: 1px solid var(--color-gray-70);
  background-color: var(--color-gray-50);
}

.uk-notification-message-primary {
  color: var(--color-blue-80);
}

.uk-tooltip {
  background-color: var(--color-black);
}

.uk-offcanvas-bar {
  border-right: 1px solid var(--color-gray-20);
}

.uk-offcanvas-bar a {
  color: var(--color-blue-190);
}

.uk-offcanvas-bar a:hover {
  color: var(--color-blue-30);
}

/* CodeMirror Overrides */
.cm-s-numara {
  color: var(--color-gray-210) !important;
}

.CodeMirror-cursor:before {
  background: var(--color-gray-210);
}

.cm-s-numara .CodeMirror-selected {
  background: var(--color-blue-50) !important;
}

.cm-s-numara .CodeMirror-linenumber {
  background-color: var(--color-gray-30) !important;
}

.cm-s-numara .CodeMirror-hscrollbar,
.cm-s-numara .CodeMirror-scrollbar-filler,
.cm-s-numara .CodeMirror-gutter-filler {
  background-color: var(--color-gray-30) !important;
}

.cm-s-numara .CodeMirror-dialog-top {
  border-color: var(--color-gray-110);
  background-color: var(--color-gray-30) !important;
  color: var(--color-gray-210) !important;
}

.cm-s-numara button {
  color: var(--color-gray-210) !important;
}

.cm-s-numara .CodeMirror-matchingbracket {
  color: var(--color-gray-140) !important;
}

.CodeMirror-hints {
  border-color: var(--color-gray-40) !important;
  background-color: var(--color-gray-70) !important;
}

.CodeMirror-hint:hover {
  background-color: var(--color-gray-40) !important;
}

li.CodeMirror-hint-active {
  background-color: var(--color-gray-40) !important;
}

.CodeMirror-placeholder {
  color: var(--color-gray-90) !important;
}

.CodeMirror-linenumber {
  color: var(--color-gray-110);
}

.CodeMirror.cm-s-material-darker {
  border: 1px solid var(--color-gray-110);
}

/* Color picker */
.clr-field button,
.colorInput {
  border: 1px solid var(--color-gray-110);
}

.colorInput {
  color: var(--color-gray-210);
}

.clr-picker,
input.clr-color {
  background: var(--color-gray-70);
  color: var(--color-gray-210);
}

.clr-preview button {
  border: 1px solid var(--color-white);
}

.colorHR {
  border-bottom: 1px solid var(--color-gray-110);
}
