/* Light theme CSS */

@import url('./colors.css');

html,
body {
  background-color: var(--color-white);
  color: var(--color-gray-90);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-220);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-190);
}

.winHeaderTitle,
.macHeaderTitle {
  color: var(--color-blue-90);
}

.lineNo {
  color: var(--color-gray-170);
}

.activeLine > div {
  color: var(--color-gray-130);
}

.input {
  color: var(--color-gray-90);
}

.ruler {
  border-bottom: 1px solid var(--color-gray-250);
}

.errTitle,
.syntaxError {
  color: var(--color-red-10);
}

.plotButton {
  color: inherit;
}

.msgBox {
  color: var(--color-blue-20);
}

.divider::before {
  background-color: var(--color-gray-220) !important;
}
.divider:hover::before {
  background-color: var(--color-blue-230) !important;
}

.output > span::selection {
  background-color: rgba(231, 243, 255, 0.98) !important;
  color: inherit;
}

.answer:hover {
  background: var(--color-gray-260);
}

.action,
.noAction,
.noAction:hover {
  color: var(--color-blue-160);
}

.actionDivider {
  border-right: 1px solid var(--color-gray-220);
}

.pageName {
  color: var(--color-blue-180);
}

.pageListHeader,
.pageListItem {
  border-bottom: 1px solid var(--color-gray-220);
  background-color: var(--color-white);
}

.pageListItemDrag {
  border: 1px solid var(--color-gray-220);
}

.pageListItem:hover {
  background-color: var(--color-gray-270);
}

.activePage {
  background-color: var(--color-gray-260);
}

.drop-parent-icon,
.pageListSort {
  color: var(--color-blue-160);
}

.drop-parent-icon:hover,
.pageListSort:hover {
  color: var(--color-blue-120);
}

.deletePageButton:hover {
  color: var(--color-red-10);
}

.deleteAllPagesButton:hover {
  color: var(--color-red-10) !important;
}

.renamePageButton:hover,
.dupPageButton:hover,
.exportPageButton:hover,
.sortListItem:hover {
  color: var(--color-blue-10);
}

.sortListDivider {
  border-top-color: var(--color-gray-220) !important;
}

.dialog-about-title {
  color: var(--color-blue-40);
}

.dialog-about-links {
  border-top: 1px solid var(--color-gray-220);
}

.dialogAboutUpdateStatus {
  color: var(--color-gray-110);
}

/* Settings menu items */
#dialogSettings h3 {
  color: var(--color-blue-60);
}

#dialogSettings .settingMod,
#dialogSettings .settingModToggle {
  color: var(--color-orange-10);
}

.precision,
.expLower,
.expUpper {
  border: 1px solid var(--color-gray-200);
  color: var(--color-gray-70);
}

.subSwitchIcon {
  color: var(--color-gray-140);
}

.textBox {
  color: var(--color-gray-110);
}

.slider:before {
  background-color: var(--color-white);
}

.slider.round:before {
  background-color: var(--color-white);
}

.lastUpdated {
  color: var(--color-gray-140);
}

.resetSizeButton {
  color: var(--color-gray-110);
}

/* Plot */
text {
  fill: var(--color-gray-90);
}

/* UIkit Overrides */
.uk-text-secondary {
  color: var(--color-blue-60) !important;
}

.uk-modal {
  background-color: rgba(0, 0, 0, 0.6);
}

.uk-button-default {
  border-color: var(--color-blue-240);
}

.uk-button-default:focus,
.uk-button-default:hover {
  border-color: var(--color-blue-200);
}

.uk-button-danger,
.uk-button-danger:focus {
  border-color: var(--color-blue-240);
  background-color: var(--color-white);
  color: var(--color-red-20);
}

.uk-button-danger:hover {
  border-color: var(--color-red-20);
  background-color: var(--color-white);
  color: var(--color-red-20);
}

.uk-button-danger:active {
  background-color: var(--color-white);
}

.uk-button-danger:disabled:hover {
  border-color: var(--color-gray-200);
  background-color: transparent;
  color: var(--color-gray-140);
}

.uk-select {
  color: var(--color-gray-90);
}

.uk-notification-message {
  border: 1px solid var(--color-gray-240);
}

.uk-notification-message-primary {
  color: var(--color-blue-80);
}

.uk-tooltip {
  background-color: var(--color-gray-230);
  color: var(--color-black);
}

.uk-offcanvas-bar {
  border-right: 1px solid var(--color-gray-220);
  background: var(--color-white);
  color: var(--color-gray-70);
}

.uk-offcanvas-bar a {
  color: var(--color-blue-160);
}

.uk-offcanvas-bar a:hover {
  color: var(--color-blue-30);
}

.uk-offcanvas-bar .uk-close {
  color: var(--color-gray-70);
}

.uk-offcanvas-bar .uk-close:hover {
  color: var(--color-blue-120);
}

/* CodeMirror Overrides */
.CodeMirror-linenumber {
  color: var(--color-gray-180);
}

.CodeMirror-cursor:before {
  background: var(--color-black);
}

.cm-s-numara .CodeMirror-selected {
  background: var(--color-blue-250) !important;
}

.cm-s-numara .CodeMirror-linenumber {
  background-color: var(--color-white) !important;
}

.cm-s-numara .CodeMirror-hscrollbar,
.cm-s-numara .CodeMirror-scrollbar-filler,
.cm-s-numara .CodeMirror-gutter-filler {
  background-color: var(--color-white) !important;
}

.cm-s-numara .CodeMirror-dialog-top {
  background-color: var(--color-white) !important;
}

.cm-s-numara .CodeMirror-matchingbracket {
  color: var(--color-gray-140) !important;
}

.CodeMirror-hint:hover {
  background-color: var(--color-gray-250) !important;
  color: initial !important;
}

li.CodeMirror-hint-active {
  background-color: var(--color-gray-250);
  color: initial !important;
}

.CodeMirror-placeholder {
  color: var(--color-gray-220) !important;
}

.dialogUdfu .CodeMirror {
  border: 1px solid var(--color-gray-220) !important;
}

.cm-s-default {
  border: 1px solid var(--color-gray-220);
}

/* Color picker */
.clr-field button,
.colorInput {
  border: 1px solid var(--color-gray-220);
}

.colorInput {
  color: var(--color-gray-70);
}

.colorHR {
  border-bottom: 1px solid var(--color-gray-220);
}
