/* Light theme CSS */
html,
body {
  background-color: #ffffff;
  color: #444444;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #dadada;
}

.header-win-title,
.header-mac-title {
  color: #384859;
}

.min-btn-win:hover,
.max-btn-win:hover,
.unmax-btn-win:hover {
  background-color: #eeeeee;
}

.min-btn-win {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgMTAiIGZpbGw9InJnYig2OCwgNjgsIDY4KSIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMSA0LjM5OVY1LjVIMFY0LjM5OWgxMXoiIC8+PC9zdmc+');
}

.max-btn-win {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgMTIiIGZpbGw9InJnYig2OCwgNjgsIDY4KSIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMSAwdjExSDBWMGgxMXpNOS44OTkgMS4xMDFIMS4xVjkuOWg4LjhWMS4xeiIgLz48L3N2Zz4=');
}

.unmax-btn-win {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgMTIiIGZpbGw9InJnYig2OCwgNjgsIDY4KSIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMSA4Ljc5OEg4Ljc5OFYxMUgwVjIuMjAyaDIuMjAyVjBIMTF2OC43OTh6bS0zLjI5OC01LjVoLTYuNnY2LjZoNi42di02LjZ6TTkuOSAxLjFIMy4yOTh2MS4xMDFoNS41djUuNWgxLjF2LTYuNnoiIC8+PC9zdmc+');
}

.close-btn-win {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgMTIiIGZpbGw9InJnYig2OCwgNjgsIDY4KSIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik02LjI3OSA1LjVMMTEgMTAuMjIxbC0uNzc5Ljc3OUw1LjUgNi4yNzkuNzc5IDExIDAgMTAuMjIxIDQuNzIxIDUuNSAwIC43NzkuNzc5IDAgNS41IDQuNzIxIDEwLjIyMSAwIDExIC43NzkgNi4yNzkgNS41eiIgLz48L3N2Zz4=');
}

.lineNo {
  color: #c8c8c8;
}

.activeLine > div {
  color: #7a7a7a;
}

.input {
  color: #444444;
}

.ruler {
  border-bottom: 1px solid #f1f1f1;
}

.errTitle,
.lineError,
.lineError:hover,
.lineError > div,
.lineNoError > div,
.syntaxError {
  color: #b10e0e;
}

.msgBox {
  color: #006699;
}

.divider::before {
  background-color: #eaeaea !important;
}
.divider:hover::before {
  background-color: #b7d5e6 !important;
}

.output {
  color: #17586b;
}

.output > span::selection {
  background-color: rgba(231, 243, 255, 0.98) !important;
  color: inherit;
}

.answer:hover {
  background: rgb(245, 245, 245);
}

.action,
.noAction,
.noAction:hover {
  color: #607d8b;
}

.actionDivider {
  border-right: 1px solid #eaeaea;
}

.pageName {
  color: #687e89;
}

.pageListHeader,
.pageListItem {
  border-bottom: 1px solid #eaeaea;
}

.pageListItem:hover {
  background-color: #f9f9f9;
}

.activePage {
  background-color: #f5f5f5;
}

.drop-parent-icon,
.pageListSort {
  color: #607d8b;
}

.drop-parent-icon:hover,
.pageListSort:hover {
  color: #4682b4;
}

.deletePageButton {
  color: #666666;
}

.deletePageButton:hover {
  color: #b10e0e;
}

.deleteAllPagesButton:hover {
  color: #b10e0e !important;
}

.renamePageButton:hover,
.dupPageButton:hover,
.sortListItem:hover {
  color: #005cc5;
}

.sortListDivider {
  border-top-color: #eaeaea !important;
}

.dialog-about-title {
  color: #162e44;
}

.dialog-about-links {
  border-top: 1px solid #eaeaea;
}

.dialog-about-updateStatus {
  color: #666666;
}

/* Settings menu items */
#dialog-settings h3 {
  color: rgb(29, 63, 92);
}

#dialog-settings .settingMod,
#dialog-settings .settingModToggle {
  color: #dd9359;
}

.precision,
.expLower,
.expUpper {
  border: 1px solid #e5e5e5;
  color: #333333;
}

.subSwitchIcon {
  color: #999;
}

.textBox {
  color: #666666;
}

.slider:before {
  background-color: white;
}

.slider.round:before {
  background-color: #ffffff;
}

.lastUpdated {
  color: #999999;
}

/* Plot */
text {
  fill: #444444;
}

/* UIkit Overrides */
.uk-modal {
  background-color: rgba(0, 0, 0, 0.6);
}

.uk-button-default {
  border-color: #e7eff7;
}

.uk-button-default:focus,
.uk-button-default:hover {
  border-color: #c9dcef;
}

.uk-button-danger,
.uk-button-danger:focus {
  border-color: #e5e5e5;
  background-color: #f5f5f5;
  color: rgba(189, 46, 46, 0.9);
}

.uk-button-danger:hover {
  border-color: rgba(189, 46, 46, 0.3);
  background-color: #f5f5f5;
  color: rgba(189, 46, 46, 0.9);
}

.uk-button-danger:active {
  background-color: #eeeeee;
}

.uk-button-danger:disabled:hover {
  border-color: #e5e5e5;
  background-color: transparent;
  color: #999999;
}

.uk-select {
  color: #444444;
}

.uk-notification-message {
  border: 1px solid #efefef;
}

.uk-notification-message-primary {
  color: #2196f3;
}

.uk-tooltip {
  background-color: #eaeaea;
  color: #000;
}

.uk-offcanvas-bar {
  border-right: 1px solid #eaeaea;
  background: #fff;
  color: #333;
}

.uk-offcanvas-bar a {
  color: #607d8b;
}

.uk-offcanvas-bar a:hover {
  color: #0f6ecd;
}

.uk-offcanvas-bar .uk-close {
  color: #333;
}

.uk-offcanvas-bar .uk-close:hover {
  color: #4682b4;
}

/* CodeMirror Overrides */
.CodeMirror-linenumber {
  color: #ccc;
}

.cm-s-numara .CodeMirror-selected {
  background: #c9e0f7 !important;
}

.cm-s-numara .CodeMirror-linenumber {
  background-color: #ffffff !important;
}

.cm-s-numara .CodeMirror-scrollbar-filler,
.cm-s-numara .CodeMirror-gutter-filler {
  background-color: #ffffff !important;
}

.cm-s-numara .CodeMirror-dialog-top {
  background-color: #ffffff !important;
}

.cm-s-numara .CodeMirror-matchingbracket {
  color: #999999 !important;
}

.CodeMirror-hint:hover {
  background-color: #eaeaea !important;
  color: #162e44 !important;
}

li.CodeMirror-hint-active {
  background-color: #367ea1;
  color: #ffffff !important;
}

.cm-currency {
  color: #009688 !important;
}

.cm-constant {
  color: #9c27b0 !important;
}

.cm-unit,
.cm-udu {
  color: #005cc5 !important;
}

.cm-scope {
  color: #be6317 !important;
}

.cm-lineNo {
  color: #e06c75 !important;
}

.cm-number {
  color: #333333 !important;
}

.cm-operator {
  color: #888888 !important;
}

.cm-comment {
  color: #bebebe !important;
}

.cm-function {
  color: #6f42c1 !important;
}

.cm-udf {
  color: #6f42c1 !important;
}

.cm-text {
  color: #333333 !important;
}

.cm-variable {
  color: #57707c !important;
}

.cm-excel {
  color: #197b43 !important;
}

.dialog-udfu .CodeMirror {
  border: 1px solid #eaeaea !important;
}

.cm-s-default {
  border: 1px solid #eaeaea;
}
