/* Print style */
.printArea {
    display: none;
}

@media print {
    .wrapper {
        display: none;
    }

    .print-icon {
        float: left;
        margin: 0 0 15px 0;
    }

    .print-icon img {
        height: 16px;
        width: 16px;
    }

    .print-title {
        color: #222222;
        float: left;
        font-size: 12px;
        font-weight: bold;
        margin: 0 0 0 8px;
        text-transform: capitalize;
    }

    .printArea {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
    }

    .printHeader {
        display: block;
        margin-bottom: 20px;
    }

    .printBox {
        display: flex;
        margin-top: 20px;
        padding-top: 20px;
    }

    .output {
        border-left: 1px solid #e9e9e9;
        padding-left: 10px;
    }
}